/*Alegreya italic normal*/
@font-face{
  font-weight: 400;
  font-family: "Alegreya";
  font-style: italic;
  src: url(https://fonts.gstatic.com/s/alegreya/v19/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2) format("woff2");
  font-display: block;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Alegreya italic bold*/
@font-face{
  font-weight: 700;
  font-family: "Alegreya";
  font-style: italic;
  src: url(https://fonts.gstatic.com/s/alegreya/v19/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2) format("woff2");
  font-display: block;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Alegreya normal normal*/
@font-face{
  font-weight: 400;
  font-family: "Alegreya";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/alegreya/v19/4UaBrEBBsBhlBjvfkSLhx6g.woff2) format("woff2");
  font-display: block;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Alegreya normal bold*/
@font-face{
  font-weight: 700;
  font-family: "Alegreya";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/alegreya/v19/4UaBrEBBsBhlBjvfkSLhx6g.woff2) format("woff2");
  font-display: block;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*Alegreya SC bold*/
@font-face{
  font-weight: 700;
  font-family: "Alegreya SC";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/alegreyasc/v15/taiTGmRtCJ62-O0HhNEa-ZYU_IU2SKo.woff2) format("woff2");
  font-display: block;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
